//
// popover.scss
//

.popover {
  --#{$prefix}popover-arrow-border: #{$popover-arrow-border};
}

.popover-header {
  padding-bottom: calc(var(--#{$prefix}popover-header-padding-y) / 2);
  border-bottom: 0;
}

.popover-header ~ .popover-body {
  padding-top: 0;
}
