//
// variables-dark.scss
//

$light-dark: $gray-850;
$dark-dark: $gray-750;

$body-color-dark: $gray-150 !default;
$body-bg-dark: $gray-900 !default;
$body-secondary-color-dark: $gray-450 !default;
$body-secondary-bg-dark: $gray-750 !default;
$body-tertiary-color-dark: $gray-650 !default;
$body-tertiary-bg-dark: $gray-850 !default;
$border-color-dark: $gray-800 !default;
$border-color-translucent-dark: rgba($black, 0.05) !default;
$border-dark-color-dark: $gray-750 !default;
